<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head') %>
</head>

<body class="container">
    <header>
        <%- include('./partials/_header') %>
    </header>

    <main class="site-header text-center">
        <div class="card-body">
            <!-- Display long and short url -->
            <% if (user) { %>
                <div>
                    <h3 id="text-2xl" class="mt-3xl">TinyURL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></h3>
                    <h4 class="card-text py-1"><%= longURL.longURL %></h4>
                </div>
            <% } %>
                <div>
                    <h5 class="mt-3xl">Total Visits: <%= visitCount.total %></h5>
                    <h5>Unique Visits: <%= visitCount.unique %></h5>
                </div>
                <div id="url" class="centercon mt-3">
                    <form id="card" class="form-inline mt-4 rounded"
                        method="POST" action="/urls/<%= shortURL %>/update?_method=PUT">

                        <h3 class="mr-4">Edit</h3>
                        <div class="form-group mb-2">
                            <input
                                type="text"
                                name="longURL"
                                placeholder="<%= longURL.longURL %>"
                                class="rounded"
                                required
                            >
                            <button type="submit" class="btn btn-primary ml-3 rounded">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- Visitor History -->
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <td scope="col"><strong>Visitor ID</strong></td>
                            <td scope="col"><strong>Date Visit</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                    <% for (const url in urlInfo) { %>
                        <% for (const stat of urlInfo[url]) { %>
                        <tr>
                            <td><%= stat.visitorID %></td>
                            <td><%= stat.date %></td>
                        </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
            <% if (!user) { %>
                <div id='error' class='invisible'><%= errorMessage %></div>
            <% } %>
        </div>
    </main>

    <footer><%- include('./partials/_footer') %></footer>
</body>
</html>
