<!DOCTYPE html>
<html lang="en">

<head><%- include('./partials/_head') %></head>

<body class="container">
    <header><%- include('./partials/_header') %></header>

    <main>
        <div class="wraptitle">
            <h3 id="text-2xl">My URLs</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td scope="col"><strong>Short URL</strong></td>
                    <td scope="col"><strong>Long URL</strong></td>
                    <td scope="col"><strong>Edit</strong></td>
                    <td scope="col"><strong>Delete</strong></td>
                </tr>
            </thead>

            <tbody>
            <% if (user) { %>
                <!-- Display short and long url -->
                <% for (let url in urls) { %>
                <tr>
                    <td><a href="/u/<%= url %>"><%= url %></a></td>
                    <td><%= urls[url].longURL %></td>
                    <!-- Edit -->
                    <td>
                        <a href="/urls/<%= url %>" class="btn btn-outline-primary">Edit</a>
                    </td>
                    <!-- Delete -->
                    <td>
                        <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>
                <% } %>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% if (!user) { %>
            <div id='error' class='invisible'><%= errorMessage %></div>
        <% } %>
    </main>

    <footer><%- include('./partials/_footer') %></footer>
</body>
</html>
