<!DOCTYPE html>
<html lang="en">

<head><%- include('./partials/_head') %></head>

<body class="container">
    <header><%- include('./partials/_header') %></header>

    <main>
        <div class="wraptitle">
            <h3 id="text-2xl">My URLs</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Short URL</tj>
                    <td scope="col">Long URL</tj>
                    <td scope="col">Edit</tj>
                    <td scope="col">Delete</tj>
                </tr>
            </thead>

            <tbody>
                <% if(user) { %>
                    <!-- Display short and long url -->
                    <% for(let url in urls) { %>
                    <tr>
                        <td><a href="/u/<%= url %>"><%= url %></a></td>
                        <td><%= urls[url].longURL %></td>
                        <!-- Edit -->
                        <td>
                            <a href="/urls/<%= url %>" class="btn btn-outline-primary">Edit</a>
                        </td>
                        <!-- Delete -->
                        <td>
                            <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                                <button class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    <% } %>
                    </tr>
                <% } else { %>
                    <div id='error' class='invisible'><%= errorMessage %></div>
                <% } %>
            </tbody>
        </table>
    </main>

    <footer><%- include('./partials/_footer') %></footer>
</body>
</html>
