<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head') %>
</head>

<body>
    <header class="container">
        <%- include('./partials/_header') %>
    </header>

    <main id="wrapper" class="card text-center">
        <div class="card-body">
            <% if(user) { %>
            <!-- Display long and short url -->
            <h3 id="text-2xl">TinyURL for: <%= longURL.longURL %></h3>
            <p class="card-text pt-4">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>

            <div id="url" class="centercon">
                <form id="card" class="form-inline mt-4"
                    method="POST" action="/urls/<%= shortURL %>/update?_method=PUT">

                    <h2 class="mr-3">Edit</h2>
                    <div class="form-group mb-2">
                        <input
                            type="text"
                            name="longURL"
                            placeholder="<%= longURL.longURL %>"
                            required
                        >
                        <button type="submit" class="btn btn-primary ml-3">Submit</button>
                    </div>
                </form>
            </div>
            <table class="table mt-5">
                <thead>
                    <tr>
                        <td scope="col">User ID</tj>
                        <td scope="col">Date Visit</tj>
                        <td scope="col">Total Visits</tj>
                        <td scope="col">Unique Visits</tj>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <%=  %> </td>
                        <td> <%=  %> </td>
                        <td> 0 </td>
                        <td> 0 </td>
                    </tr>
                </tbody>
            </table>
            <% } else { %>
                <div id='error' class='invisible'><%= errorMessage %></div>
            <% } %>
        </div>
    </main>

    <footer><%- include('./partials/_footer') %></footer>
</body>
</html>
